.Podcast {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
  background-color: #0e0e0e;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
  }
}

.Podcast__title {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 1rem;

  padding: 0.2rem;
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  max-width: 75%;
}