.Podcast__episode {
  position: relative;
  background-color: #0e0e0e;
  background-position: center;
  background-size: cover;
  height: 4rem;
  margin-bottom: 1rem;
  border-radius: 4px;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
    padding-bottom: 100%;
  }
}

.Podcast__episode-title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: #0e0e0e;
  color: white;
  padding: 0.2rem;
}