@for $i from 0 through 5 {
  .m-#{$i} {
    margin-top: calc(0.5rem * #{$i});
    margin-bottom: calc(0.5rem * #{$i});
    margin-left: calc(0.5rem * #{$i});
    margin-right: calc(0.5rem * #{$i});
  }

  .mt-#{$i} {
    margin-top: calc(0.5rem * #{$i});
  }

  .mb-#{$i} {
    margin-bottom: calc(0.5rem * #{$i});
  }

  .mr-#{$i} {
    margin-right: calc(0.5rem * #{$i});
  }

  .ml-#{$i} {
    margin-left: calc(0.5rem * #{$i});
  }

  .mx-#{$i} {
    margin-left: calc(0.5rem * #{$i});
    margin-right: calc(0.5rem * #{$i});
  }

  .my-#{$i} {
    margin-top: calc(0.5rem * #{$i});
    margin-bottom: calc(0.5rem * #{$i});
  }

  .p-#{$i} {
    padding-top: calc(0.5rem * #{$i});
    padding-bottom: calc(0.5rem * #{$i});
    padding-left: calc(0.5rem * #{$i});
    padding-right: calc(0.5rem * #{$i});
  }

  .pt-#{$i} {
    padding-top: calc(0.5rem * #{$i});
  }

  .pb-#{$i} {
    padding-bottom: calc(0.5rem * #{$i});
  }

  .pr-#{$i} {
    padding-right: calc(0.5rem * #{$i});
  }

  .pl-#{$i} {
    padding-left: calc(0.5rem * #{$i});
  }

  .px-#{$i} {
    padding-left: calc(0.5rem * #{$i});
    padding-right: calc(0.5rem * #{$i});
  }

  .py-#{$i} {
    padding-top: calc(0.5rem * #{$i});
    padding-bottom: calc(0.5rem * #{$i});
  }
}